body {
  margin: 0;
  padding: 0;
  cursor: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px lightgray;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 216, 230);
  border-top: 1px solid gray;
  box-shadow: 1px 1px lightgray;
}

h6 {
  margin: 0;
  padding: 0 1em;
  font-family: Staatliches;
  font-size: 2.5rem;
}

h5 {
  margin: 0;
  padding: 0 1em;
  font-family: Staatliches;
}


canvas {
  height: 88.8vh;
  width: 95vw;
}

#heart-1,
#heart-2,
#heart-3,
#heart-4,
#heart-5 {
  margin-top: 2px;
  height: 30px;
  width: auto
}

@media only screen and (max-width: 730px) {
  h6 {
    margin: 0;
    padding: 0 1em;
    font-family: Staatliches;
    font-size: 1.5rem;
  }
  #heart-1,
  #heart-2,
  #heart-3,
  #heart-4,
  #heart-5 {
    margin-top: 2px;
    height: 20px;
    width: auto
  }
  canvas {
    height: 91.5vh;
    width: 95vw;
  }
}

.heart-full {
  height: 10px;
  width: auto;
}